<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Students</title>

  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<table>
  <thead>
  <div>students</div>
  <tr>
    <th>Id</th>
    <th>name</th>
    <th>age</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="student : ${students}">
    <td th:text="${student.id}">1</td>

    <td th:text="${student.name}">student name</td>

    <td>
      <a th:href="@{/student/{id}(id = ${student.id})}"
         th:text="${student.name}">Student
        name</a>
      <a th:text="${student.name}">
    </td>

    <td sec:authorize="hasRole('ADMIN')">
      <form th:action="@{/student/{id}(id = ${student.id})}"
            th:method="delete">
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>

  <tr th:if="${students.empty}">
    <td colspan="4">No data</td>
  </tr>

  </tbody>
</table>
</body>
</html>